.HeroTitle {
  line-height: 80px;
  font-family: Merriweather;
  color: #420543;
  font-size: 64px;
}

.HeroSubtitle {
  font-family: Open Sans;
  font-style: normal;
  color: #373737;
  font-weight: 600;
  line-height: 25px;
  font-size: 18px;
}

.HeroCTA {
  background-color: #b52e2e;
  border-color: #b52e2e;
  font-weight: bold;
}
